body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
.t{
    color:#02c7fe;
}

#tight {
    margin-top: -2%;

}

#logo-container{
    width:100px;
    height:100px;
    padding:0%;
    margin:-4% 0% 0% 0%;
    /*background-color:#ffd800;*/
    /*border:solid 2px #ff0000;*/
}

.logo{
    max-height:50%;
    max-width:50%;
    margin:auto;
    width:130%;
    /*background-color:#b6ff00;*/
}

#logo-container a:hover{
     border:none;
     display:block;
     position:relative;
     background-color:transparent;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/*carousel images*/

.slide-container{
    width:300px;
    height:300px;
    margin:5% auto -6% auto;
    padding:0;
}

.carousel-caption{
    margin-top:10%;
    color:#0094ff;
}
#my-carousel .carousel-control{display:none}
#my-carousel:hover .carousel-control{display:block}

.slide-imgs{
    width:100%;
    padding:0%;
    margin:5% auto 0 auto;
    height:100px;
}

.indicator-color li{
    background-color:#0094ff;

}

#car-indicator{
    margin-top:1%;
}
/**Thumbnails*/
.img-thumbnail-container{
    width:300px;
    height:auto;
    padding:10px;
}



/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.clr {
	clear:both;
	padding:0;
	margin:0;
	width:100%;
	font-size:0;
	line-height:0;
}
/***Register Form*/
.forms{
    background: #f9f9f9;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #777777;
    border-color: #f1f5fc;
    /*border-color: #80c641;*/
}

.forms input{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

.input-validation-error{
    border: 2px solid #f00;
}

/*Footer section*/

#footerSection {
    position:absolute;
    background: #202020;
    font-family:'Gill Sans';
    font-weight:lighter;
    font-size:smaller;
    color: white;
    width:100%;
    padding: 20px 0 10px 0px;
    margin: auto 0px -2% 0px;
    border-top: 1px solid #444;
}

#reserved{
    margin:-3% 0 0 0;
    /*background-color:#02c7fe;*/
}
    #footerSection a {
        color: #ccc;
        font-size: 11px;
        padding: 0;
        line-height: 24px;
        display: block;
    }

        #footerSection a:hover {
            color: #fff;
        }

    #footerSection #socialMedia a {
        min-width: 25px;
        display: inline;
        margin-right: 6px;
        text-align: center;
        line-height: 1.5em;
    }

#socialMedia img {
    max-width: 60px;
}

#footerSection #socialMedia a:hover {
    background: none;
}
/* ===================================================== */
/*Register Form Wizard*/
